body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    cursor: text;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .gallery img {
    border-radius: 0 50px 0 50px;
    width: 600px;
    height: 450px;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .gallery img:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  button {
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }

  .filter-btn {
  border:none;
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 15px 0 15px;
  transition: background 0.2s;
  }

  .filter-btn:hover {
    background: rgb(3, 72, 3);
  }

  .filter-btn.active {
    background: rgb(3, 72, 3);
    color: white;
  }
 
  .h1 prompt

